.step6CartLine{
    border-style: solid;
    border-width: 1px;
    background-color: var(--twitter-backgr);
    min-width: 500px;
    width: auto;
    display: flex;
    justify-content: space-between;
    box-shadow: 3px 5px 10px;

}

.title-main-6, .price-main-6, .total-main-6{
    margin: 1% 2%;
    
    
}
.step6BookTotal{
    width: auto;
    margin: 1% 0;
    padding: 0 2%;
    
}

.title-main-6>div, .price-main-6>div, .total-main-6>div{
    display:block;
    margin-top: 2%;
    
}

.stepSixContainer{
    height: 65vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* background-color: var(--twitter-backgr); */
  box-shadow: inset 0px 0px 20px 1px silver;
  border-radius: 5px;
  background-color: var(--white);
  overflow-y: scroll;
}

.step6BookTotalNumber{
    margin: 0 auto;
}

.modal-checkout-container{
    text-align: center;
    margin: 0 25%;
    
}

.modal-checkout-container>div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4%;
}

.progress-modal{
    margin-top: 5%;
    text-align: center;
    color: whitesmoke;
}

.progress-tag{
    font-size: 3vw;
}

.success-modal{
    margin-top: 0%;
    text-align: center;
    color: whitesmoke;
}

.success-logo{
    height: 50px;
}
.success-tag{

    font-size: 3vw;
}

.step6Button{
    font-size: 24px;
  outline: none;
  border: none;
  background-color: var(--dark-blue);
  padding: 10px;
  border-radius: 5px;
  color: white;
  box-shadow: 0px 0px 1px 1px silver;  
}

.incrementUp, .incrementDown{
    background-color: var(--dark-blue);
    color: whitesmoke;
    height: 100%;
}

.step6BookTotalComp{
    font-weight: bold;
    font-size: 2vw;
    height:50px;
}

.stripeCheck{
    margin: 10% 0 0 30%;
    justify-content: center;
}

