.accountContainer {
    display: flex;
    padding-left: 60px;
    padding-right: 60px;
}

.accountBody {
    padding-top: 40px;
    width: 48%;
  }
  
  .accountAvatar {
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: 250px;
    padding: 25px;
    background-image: linear-gradient(to bottom, #00aced, #00aced 49%, white 49%);
  }
  
  .accountImage {
    width: 45%;
    border-radius: 50%;
    border: solid;
    border-width: 5px;
    border-color: white;
  }
  
  .accountUser {
    font-size: 25px;
    font-weight: 700;
  }
  
  .accountScreen {
    color: gray;
  }
  
  .tweetsFriendsFollowers {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .accountStats {
    color: gray;
    font-weight: 700;
    font-size: 14px;
  }
  
  .accountStats div {
    font-size: 22px;
    font-weight: 700;
    color: var(--twitter-logo);
    margin-top: 8px;
  }

  .accountUserDetails {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 45%;
  }
  
  .accountName {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50%;
  }

  .accountLinks {
      background: white;
      margin-top: 10px;
      width: 90%;
      padding-bottom: 10px;
      padding-left: 10px;
      height: 207px;
  }
  
  .accountLinks a {
    text-decoration: none;
    color: white;
  }
  
  .accountLinks div{
      margin-top: 10px;
      padding: 5px;
      border-radius: 15px;
      width: 120px;
      background: var(--twitter-logo);
      color: white;
      cursor: pointer;
  }

  .accountLinks div:hover {
      background: var(--twitter-veri);
  }
  
  .accountLogo{
    height: 75px;
    width: 75px;
  }

.accountDraft {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    height: 80px;
    width: 90%;
}

.accountRight {
    margin-left: -45px;
    width: 55%;
}

.accountSideContainer {
    background: white;
    padding: 10px;
}

.accountSideContainer h1 {
    font-weight: bold;
}

.accountSideBody {
    overflow-y: scroll;
    height: 68.7vh;
}

.draftButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height:80%;
}

.draftButtons button {
    background: #00aced;
    color: white;
    border: none;
    border-radius: 20px;
    height: 25px;
    cursor: pointer;
}

.draftButtons button:hover {
    background: var(--twitter-veri)
}

.draftNames {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.draftTitle {
    font-size: 20px;
}

.draftSubTitle {
    font-size: 14px;
}

.draftSize {
    font-size: 12px;
}

.draftImgContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    height: 100%;
}

.draftImg {
    width: 100%;
}

.draftSeparator {
    width: 90%;
    height: 1px;
    background: #00aced;
}

.draftContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 110px;
}

.accountOrderHead {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    background: #0084b4;
    height: 20px;
    align-items: center;
    border-radius: 5px;
    color: white;
}

.draftsPrompt {
    margin-top: 20px;
}

.newBookAccLink div {
    background: var(--twitter-logo);
    color: white;
    padding: 5px;
    border-radius: 15px;
    border: solid;
    border-width: 2px;
    border-color: white;
    width: 120px;
    margin-top: 15px;
    text-align: center;
}

.newBookAccLink div:hover {
    background: var(--twitter-veri);
}

.emptyDrafts a{
    text-decoration: none;
    color: white;
}