.tweets{
  width: 70vw;
  font-size: 12px;
}

.tweetUserImg{
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.tweetHead{
  display: flex;
  flex-direction: row;
}

.usernameAndScreenname{
  display: flex;
  flex-direction: row;
  line-height: 20px;
}

.usernameAndScreenname > h1{
  margin-right: 10px;
  font-weight: 600;
  font-size: 14px;
}

.usernameAndScreenname > h2{
  color: gray;
  font-size: 14px;
}

.tweetImg{
  height: 120px;
}

.tweetProfileImg{
  height: 50px;
}

.media{
  margin-left: 60px;
}

.tweetTextContainer{
  margin-left: 10px;
}

.tweetText{
  width: 30vw;
  line-height: 20px;
  flex-wrap: wrap;
}

.homeContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchContainer{
  height: 85vh;
  overflow-y: scroll;
  background: white;
  width: 45%;
}

.homeRight {
    width: 45%;
    height: 85vh;
}

.featuredContainer{
  height: 42.5vh;
  width: 100%;
  overflow-y: scroll;
  background: white;
  margin-left: 10px;
}

.newBookButton{
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: var(--twitter-logo);
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px silver,
    -2px 2px 2px silver;
    color: white;
  }

  .newBookButton:hover {
      background: var(--twitter-veri);
  }