.tweets{
  width: 100%;
  font-size: 12px;
  border-bottom: solid;
  border-width: 1px;
  border-color: lightgray;
  padding: 15px;
  display: flex;
}

.homeTweetButton {
    border-radius: 50%;
    background: var(--twitter-logo);
    border: none;
    color: white;
    padding: 3px;
    width: 50px;
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    outline: none;
}

.homeTweetButton:hover {
    background: var(--twitter-veri);
}

#remove {
  background: red;
  background-image: url('../images/trash.png');
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#remove:hover {
  background: lightcoral;
  background-image: url('../images/trash.png');
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.homeFilterButton {
  border-radius: 25px;
  padding: 4px;
  color: white;
  border: none;
  background: var(--twitter-logo);
  height: 25px;
  margin-top: 5px;
  cursor: pointer;
}

.homeFilterButton:hover {
  background: var(--twitter-veri);
}

.tweetUserImg{
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.homeTitle {
  font-weight: bold;
}

.media {
  margin-top: 5px;
}

.homePrompt {
  margin-top: 15px;
}

.tweetHead{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 5px;
}

.usernameAndScreenname{
  display: flex;
  flex-direction: row;
  line-height: 20px;
}

.usernameAndScreenname > h1{
  margin-right: 10px;
  font-weight: 600;
  font-size: 14px;
}

.usernameAndScreenname > h2{
  color: gray;
  font-size: 14px;
}

.tweetImg{
  max-width: 190px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.tweetProfileImg{
  height: 50px;
}

.tweetTextContainer{
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.tweetText{
  line-height: 20px;
  flex-wrap: wrap;
  width: 100%;
}

.homeContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchContainer{
  height: 85vh;
  overflow-y: scroll;
  background: white;
  width: 45%;
  padding: 15px;
  position: relative;
}

.homeRight {
    width: 45%;
    height: 85vh;
}

.tweetSearch {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 75%;
    margin-top: 10px;
    height: 75px;
    background: white;
}

searchBody {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.tweetSearch input {
    border-radius: 2px;
    border: solid;
    border-width: 2px;
    border-color: var(--twitter-veri)
}

.tweetSearch button {
    border-radius: 25px;
    background: var(--twitter-logo);
    border: none;
    color: white;
    padding: 3px;
    margin-left: 5px;
    cursor: pointer;
}

.tweetSearch button:hover {
    background: var(--twitter-veri);
}

.featuredContainer{
  height: 42.5vh;
  width: 98%;
  overflow-y: scroll;
  background: white;
  margin-left: 10px;
  padding: 15px;
}

.newBookButton{
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: var(--twitter-logo);
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px silver,
  -2px 2px 2px silver;
  color: white;
}

.newBookButton:hover {
    background: var(--twitter-veri);
}

.homeFiltersContainer {
  width: 100%;
  background: white;
  height: 41.5vh;
  margin-top: 10px;
  margin-left: 10px;
  padding: 15px;
}

.homeFilters {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  justify-content: space-around;
  width: 70%;
}
