
:root{
  --dark-blue: #0084b4;
  --twitter-logo: #00aced;
  --twitter-veri: #1dcaff;
  --twitter-backgr: #c0deed;
  --white: #ffffff;
}

*{
  overflow-x: hidden;
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: radial-gradient(circle at center, rgba(192,222,237,.8) 0%, rgba(192,222,237,.8) 100%), url("./images/landingbg.jpg");
  background-size: fill;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 500px;
  height: 250px;
  border: solid;
  border-radius: 5px;
  border-width: 5px;
  background: white;
  border-color: #00aced;
  margin: auto;
  box-shadow: 5px 10px 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.landingLogo {
  width: 75px;
  height: 75px;
  border: solid;
}

.login h1 {
  font-size: 40px;
  font-family: 'Dancing Script', cursive;
  color: #0084b4;
  font-weight: 700;
}

.login button {
  height: 40px;
  width: 120px;
  font-size: 15px;
  background: #00aced;
  border: solid;
  border-width: 2px;
  border-color: white;
  color: white;
  border-radius: 25px;
}

.loginButton{
  outline: none;
}

.link{
  color: black;
}
.newBookButton{
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px silver,
  -2px 2px 2px silver;
}
.newLine{
  position: absolute;
  height: 50px;
  width: 10px;
  border-radius: 5px;
  background-color: var(--twitter-veri);
}
.hor{
  transform: rotate(90deg);
}
.H{
  margin-top: 50px;
}
.header{
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  background-color: var(--twitter-veri);
}
.hamMenu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 1s;
}
.hamLine{
  height: 5px;
  width: 35px;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 5px;
  background-color: var(--white)
}
.headerProfileImg{
  height: 40px;
  width: 40px;
  border: 2px solid var(--dark-blue);
  border-radius: 50%;
  z-index: 1;
}
.menuLinks{
  height: 300px;
  width: 200px;
  position: absolute;
  top: 0px;
  right: -200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--twitter-veri);
  transition: 1s;
}
.slideLeft{
  right: 0px;
}
.HamSlide{
  margin-right: 200px;
}
.right{
  position: absolute;
  left: 20px;
  top: 10px;
}