
:root{
  --dark-blue: #0084b4;
  --twitter-logo: #00aced;
  --twitter-veri: #1dcaff;
  --twitter-backgr: #c0deed;
  --white: #ffffff;
}

.mainBody {
  background: rgb(224,231,236);
  min-height: 100vh;
  min-width: 100vw;
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: radial-gradient(circle at center, rgba(192,222,237,.8) 0%, rgba(192,222,237,.8) 100%), url("./images/landingbg.jpg");
  background-size: fill;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 500px;
  height: 250px;
  border: solid;
  border-radius: 5px;
  border-width: 5px;
  background: rgb(255, 255, 255);
  border-color: #00aced;
  margin: auto;
  box-shadow: 5px 10px 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.landingLogo {
  width: 75px;
  height: 75px;
}
.logo{
  height: 40px;
  width: 110px;
  margin-left: -30px;
}
.login h1 {
  font-size: 40px;
  font-family: 'Dancing Script', cursive;
  color: #0084b4;
  font-weight: 700;
}

.login button {
  height: 40px;
  width: 120px;
  font-size: 15px;
  background: #00aced;
  border: solid;
  border-width: 2px;
  border-color: white;
  color: white;
  border-radius: 25px;
}

.loginButton{
  outline: none;
}

.link{
  color: black;
}



.right{
  position: absolute;
  left: 20px;
  top: 10px;
}
.step6Logo{
  height: 75px;
  width: 75px;
}
.step6CartLine{
  display: flex;
  margin-bottom: 15px;
}
.step6BookQuantity{
  display: flex;
}
.stepsContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.stepNavigation{
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 20px;
}
.stepIdicator{
  height: 10vh;
  width: 60vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.step{
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.selectedStep{
  background-color: var(--dark-blue);
  color: white;
}
.navButton{
  height: 50px;
  width: 100px;
  border-radius: 5px;
  background-color: var(--dark-blue);
  border: none;
  color: whitesmoke;
  font-size: 24px;
  outline: none;
}
.stepOneContainer{
  height: 65vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* background-color: var(--twitter-backgr); */
  box-shadow: inset 0px 0px 20px 1px silver;
  border-radius: 5px;
  background-color: var(--white);
}
.bookSize{
  text-align: center;
  line-height: 40px;
  margin-right: 10px;
  margin-left: 10px;
}
.booksContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sizeTitle{
  font-size: 24px;
}
.selectedBookSize{
  background-color: var(--twitter-logo)
}
.eightBook{
  height: 100px;
}
.eightBook:hover{
  background-color: var(--twitter-veri)
}
.tenBook{
  height: 120px;
}
.tenBook:hover{
  background-color: var(--twitter-veri)
}
.fourtBook{
  height: 130px;
}
.fourtBook:hover{
  background-color: var(--twitter-veri)
}
.stepTwoColor{
  width: 65vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.stepThreeText{
  width: 75vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
.inputStack{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inputStack > input{
  font-size: 24px;
}
.bookOutside{
  position: relative;
}
.outsideBookContext{
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  z-index: 2;
  top: 30px;
}
.frontContext{
  height: 100%;
  width: 60%;
  transform: rotate(-7deg);
  margin-left: 22px;
  padding: 30px;
  text-align: center;
  line-height: 20px;
}
.selectedBack{
  height: 100%;
  width: 60%;
  transform: rotate(7deg);
  margin-right: 22px;
  text-align: center;
  padding: 30px;
}
.selectedSubtitle{
  font-size: 12px;
}
.none{
  background: rgb(224,231,236);
}


.containerLayout{
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.chosenTweetsContaniner{
  width: 50%;
  overflow-y: scroll;
  padding: 20px 0px 20px 0px;
}
.stepFourLayout{
  width: 110%;
  display: flex;
  flex-direction: row;
}
.standardLayout{
  width: 10vw;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
}
.standardLayout > div{
  margin-bottom: 10px;
}
.masonryLayout{
  width: 20vw;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
}
.masonryLayout > div{
  margin-bottom: 10px;
}
.selectedLayout{
  background-color: var(--twitter-backgr)
}
.stepFiveContainer{
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.checkoutQuantity{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.checkoutQuantity > h1{
  font-size: 22px;
}
.field{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quantityDisplay{
  display: flex;
}
.quantityDisplay > input{
  font-size: 24px;
  border: none;
  width: 50px;
}
.quantityControl > button{
  width: 34px;
  border-radius: 5px;
  margin-left: 10px;
  font-size: 22px;
  outline: none;
}
.addToCart{
  font-size: 24px;
  outline: none;
  border: none;
  background-color: var(--dark-blue);
  padding: 10px;
  border-radius: 5px;
  color: white;
  box-shadow: 0px 0px 1px 1px silver;  
}
.addToCart:active{
  box-shadow: 0px 0px 3px 3px silver;
}
.tweetsTitle{
  text-align: left;
  font-size: 30px;
  padding: 20px;
}
.tweets > button{
  margin: 10px;
  margin-left: 60px;
  background-color: var(--twitter-backgr);
  border: none;
  border-radius: 5px;
  outline: none;
}
.noTweetsOption{
  font-size: 22px;
  margin-left: 20px;
}
.submitTweets{
  position: absolute;
  right: 25vh;
  bottom: 17vh;
}